.bottom{height:180px;}
#sysTip{bottom:0;left:0; right:0;width:100%;}
#sysTip .sysInfo{ background: #F1F2F1;border:none; padding: 0 30px 0 10px;}
#sysTip .sysInfo p span{ margin: 2px 2px; padding: 0px 4px; background: #fff; color: #FF9F50; border-radius: 2px; display: inline-block; cursor:pointer; line-height: 20px;}
#sysTip .closeTip{ background: url(../images/close.png) no-repeat; top: 3px; right: 4px; width: 25px; height: 25px;}
.sys_tip{ color:#8a8a8a; font-size: 14px; font-weight: bold;}
.h_l,.h_r,.c_l,.c_r,.f_l,.f_r,.h_content,#center,.f_content,.s_l,.s_r{height:100%;}
.h_l,.c_l,.f_l,.s_l{float:left;}
.h_r,.c_r,.f_r,.s_r{float:right;}
.h_l{ background:#169B70;}
.h_r{ background:#169B70;}
.c_l,.s_l{ background:#169B70;}
.c_r,.s_r{ background:#169B70;}
.f_l{ background:#169B70;}
.f_r{ background:#169B70;}
.f_l,.f_r,.f_content{font-size:0; line-height:0; display:inline; position: absolute;}
.h_content{background:#fff; position:relative;}
.top_bg{background: #F1F1F1;}
/*......custom start........*/
#history{background: #fff;border-right: 1px solid #F4F4F4;}
.center_right{border:none;}
.center_left1{border-top:1px solid #F4F4F4;border-bottom:1px solid #F4F4F4;}
#footer{height:0px; font-size:0px;}
#scorInfo{height:25px;background-color:#F1F1F1;}
#headerBox marquee{line-height:25px;color:#8a8a8a;}
#center{background:#fff;}.s_content{ color: #8a8a8a;
background: #F1F1F1 url(../images/laba.png) 5px center no-repeat;
height: 25px;
padding-left: 30px;
margin-right: 400px;}
.mid_l_c{right:400px;}#banner{ background-repeat: no-repeat;}#logo{bottom:10px;_bottom:20px; left:20px;}
.main{width:400px; background:#fff; top:-25px; bottom:0px; height:auto;_height:100%;_margin-bottom:-30px;}
#toolsbar li{height:25px; width:25px; background: url(../images/toolsbar.png) no-repeat;}
#toolsbar li#fontSize{background-position: -7px 2px;}
#toolsbar li.open {background-position: -4px -51px;}
#toolsbar li#emoticons {background-position: -4px -84px;}
#toolsbar li#active {background-position: -4px -117px;}
#toolsbar li#evaluation {background-position: -4px -148px;}
#toolsbar li#save {background-position: -4px -213px;}
#toolsbar li#file {background-position: -4px -246px;}
#toolsbar li.close {background-position: -4px -181px;}
/*功能按钮*/
.topItemsContainer{margin-left:0px;}
.lefttop{position: absolute; z-index: 100;height: 80px;top:0px;}
.righttop{ position:absolute; top:5px; right:-5px;width: 10px;height: 10px;}
.containerItemst{color:#31b687;}
.containerItemsb:hover{background: #F1F1F1;}
#jumper .udButton{background-image: url(../images/func2.png);_background-image:url(../images/func2_ie6.png); background-position: center -135px;}
/*......start.......*/
.lim_time{margin:5px auto;text-align:center;width:130px;line-height: 20px;height: 20px;color:#B8B8B8;background: none;}
.lim_operator .lim_dot,.lim_infotip{color:#fff;}.lim_dot a{color:yellow;}
.lim_systemTip #radiusborder,.lim_operator #radiusborder{border-top-right-radius:0; background:url(../images/3_03.jpg) no-repeat;
  top: 0px;
  left: auto;
  right:-20px;
  height: 10px;
  width: 10px;
  border:none;
}
.lim_visitor #radiusborder{border-top-left-radius:0; background:url(../images/4_07.png) no-repeat;
  top: 0px;
  left: -20px;
  right:auto;
  height: 10px;
  width: 10px;
  border:none;
}
.lim_systemTip .lim_bubble,.lim_operator .lim_bubble{ background:#33C18F; border:none;
  -khtml-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.lim_visitor .lim_bubble{ background:#E3E4E3; border:none;
  -khtml-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.lim_systemTip .lim_tale,.lim_operator .lim_tale,.lim_systemTip .lim_r1,.lim_operator .lim_r1{border:none; top:3px;background:#31B687 url(../images/op_h.png) center center no-repeat; }
.lim_visitor .lim_tale,.lim_visitor .lim_r1{border:none;top:3px;background:#E3E4E3 url(../images/v_h.png) center center no-repeat;}
.lim_tale,.lim_systemTip .lim_r1,.lim_operator .lim_r1,.lim_visitor .lim_r1{overflow: visible;width:40px; height:40px;}
.lim_bubble{padding:11px; border-radius:0;}
.lim_systemTip,.lim_operator{padding: 10px 70px 3px 70px;}.lim_visitor{padding: 10px 70px 3px 70px;}
.lim_systemTip .lim_r2,.lim_systemTip .lim_r3,.lim_systemTip .lim_r4,
.lim_visitor .lim_r2,.lim_visitor .lim_r3,.lim_visitor .lim_r4,
.lim_operator .lim_r2,.lim_operator .lim_r3,.lim_operator .lim_r4
{ background: none;}
.lim_systemTip .lim_tale,.lim_operator .lim_tale{ left:10px; top:10px; overflow:visible !important;}
.lim_visitor .lim_tale{right:10px; top:10px; overflow:visible !important;}
/*......end......*/
.hright{left:0px; right:auto;}.hleft{left:auto; right:0px;}
.closeEnterBar{width:200px; height:30px; bottom:5px;}
.entera, .close,.robot_close{height:30px; font-size: 14px; line-height: 30px; color: #fff;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.robot_close{ width: 80px; background-color: #33C28F; text-align: center;}
.close{ width: 80px; background-color: #FF9E50; text-align: center;}.entera{width:90px;background-color:#33C18F;}
#enter{ width:90px; height:30px; background-image: none; text-indent: 15px;}
#shortcutkey {right: 15px; top: 5px; width:30px; height: 20px; border-left:1px solid #fff; background: url(../images/down.png) center center no-repeat;}
#shortKeyMenu{left: 156px; top: -53px;}
.pop{background: #EDEEED;}
#innerSurveyForm #surveyTitle{text-indent:0; font-weight:bold; font-size:14px; padding: 30px 20px 0px 20px;line-height:30px;}
#surveyComment{font-size:14px;line-height:25px;}
#surveyComment label{font-size:14px;height:26px;line-height:26px;}
#surveyComment textarea{width:100%;height:80px;}
/*......end........*/
.clearfloat{ clear:both; height:0; font-size: 0px; line-height: 0px;}
.activitytab{ border-radius:0; border-top: 1px solid #E5E5E5;border-bottom: 1px solid #E5E5E5;}
.activitytab span.leftBut:hover{background-color: #31B687;color:#fff;}
.activitytab span.rightBut:hover{background-color: #31B687;color:#fff;}
.activitytab ul li{background-color:#fff;color:#000;border-left:1px solid #E5E5E5;border-right:1px solid #E5E5E5;}
.activitytab ul li:hover{background-color:#33C18F;color:#fff;border-left:1px solid #33C18F;border-right:1px solid #33C18F;}
.activitytab ul li.active{background-color:#31B687;color:#fff;border-left:1px solid #31B687;border-right:1px solid #31B687;}
.interval{float:left;display:block;width:2px;height:63px;}
#popDiv button.button,#popDiv input.btn{ cursor:pointer; font-size:16px; font-weight:bold; width:90px;height:30px;line-height:30px;border:none; background-size: cover; background-position: center center;}
#popDiv button.submit,#popDiv input.submit{background-image:url(../images/btn1.png); color:#FFF;}#popDiv button.cancel,#popDiv input.cancel{background-image:url(../images/btn2.png); color:#777877}
.left_buts{border-top:1px solid #8B8B8B;}
.lefta_d, .righta_d { width:66px;color:#6189AE; margin-top:10px;}
.lefta_d{background:url(../images/lefta_d.png) no-repeat;}
.righta_d{background:url(../images/righta_d.png) no-repeat;float: right;}
#newslist {position: absolute;top: 50px;left: 0px;bottom:0px;}
#messageBar{margin:2px 0;}
/*下面是滚动条的样式*/
.myScrollbarV>div {
	background:-webkit-gradient(linear, 0 0, 100% 0, from(#EFEBE0), to(#DAD8D2));
	background: -moz-linear-gradient(top, #EFEBE0, #DAD8D2);
	background: -ms-linear-gradient(top, #EFEBE0, #DAD8D2);
	background: -o-linear-gradient(top, #EFEBE0, #DAD8D2);
	background: linear-gradient(top, #EFEBE0, #DAD8D2);
	border:1px solid #A4A4A4;
	box-shadow:inset 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.myScrollbarH>div {
	background:-webkit-gradient(linear, 0 0, 100% 0, from(#EFEBE0), to(#DAD8D2));
	background: -moz-linear-gradient(top, #EFEBE0, #DAD8D2);
	background: -ms-linear-gradient(top, #EFEBE0, #DAD8D2);
	background: -o-linear-gradient(top, #EFEBE0, #DAD8D2);
	background: linear-gradient(top, #EFEBE0, #DAD8D2);
	border:1px solid #A4A4A4;
	box-shadow:inset 1px 1px 0 rgba(255, 255, 255, 0.5);
}
/*.........客服信息............*/
.operator_content{ height:100%;background: #fff;}
.operator_info{ position: relative; }
.operatorface{padding:0; background: #fff;}
.operator_name{ height:50px; position: absolute; bottom:0px; left:0px; right:0px; width:100%; background-color: rgba(166, 166, 166, 0.6); background-color: #A6A6A6\9; opacity:0.6\9; filter:alpha(opacity=60)\9;}
.operatorname{ background: url(../images/dian2.png) -52px 0px no-repeat;_background: url(../images/dian.png) -52px 0px no-repeat;height: 20px;color: #FFF;font-weight: bold;position: absolute;left: 0px;top: 15px;line-height: 20px;}
.begin_time{ position: absolute;top: 15px;right: 20px;color: #FFF;letter-spacing: 2px;line-height: 20px;}
.famous_txt {text-align: center; line-height:150px; position: relative;}
.famous_txt font{color:#000; font-size:22px; letter-spacing: 2px;}
/*=========center_right========*/
.center_right{ cursor: default;}
.center_right .page_content { height:100%; width:100%;}
.center_right .page_content li{ position:absolute; width:100%; height:100%;}
.center_right .page_bg { font-size:0; line-height:0px; background-color: rgba(0,0,0, 0.15); background-color: #000\9; opacity:0.15\9; filter:alpha(opacity=15)\9; position:absolute; bottom:0px; right:0px; height:40px;width:100%;z-index:1;}
.center_right .page_txt { position: absolute;bottom: 0px;left: 0px;height: 40px;width: 100px;z-index: 2;}
.center_right .page_txt li {line-height:40px; position: absolute;}
.center_right .page_txt li label{margin-left:20px;color:#fff; line-height:40px; font-size:14px; font-weight: bold;letter-spacing: 2px;}
.center_right .page_num { font-size:0; position:absolute;bottom:0px;right:0px; height:40px; z-index:4;}
.center_right .page_num li { cursor:pointer; *float:right; list-style-type:none; display:inline-block; width:20px; height:20px; background: url(../images/d.png) 4px 4px no-repeat; _background: url(../images/d_ie6.png) 4px 4px no-repeat; margin:10px;}
.center_right .page_num li.current{ background: url(../images/d.png) -32px 4px no-repeat;_background: url(../images/d_ie6.png) -32px 4px no-repeat;}