
#page li{
	background-color: #444444;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    outline: medium none;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
}


#big1{
    position:absolute;
    top:0;
    left:0;
    opacity: 0.5;
    background: black;
    margin:0 auto;
    padding:0;
    text-align:center;
    width:100%;
    height:500px;
    background:;
    z-index:10;
}

#small1{
    position:relative;
    line-height: 100px;
    margin:0 auto;
    padding:0;
    background:black;
    width:800px;
    height:300px;
}


.edit0{
    width:90px;
}

#text-color{
    position: relative;
    text-align: center;
    margin-top:10px;
    color:white;
}
#text-color tr{
    padding-top:0px;
}

#del{
    position:absolute;
    top:0;
    left:0;
    opacity: 0.5;
    background: black;
    margin:0 auto;
    padding:0;
    text-align:center;
    width:100%;
    height:500px;
    background:;
    z-index:10;  
}
#del1{
    position:absolute;
    line-height: 500px;
    margin:0 auto;
    padding:0;
    color:cyan;
    text-align:auto;
    font-size:20px;
    width:300px;
    height:300px;
}
